@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IN:wght@100..400&family=Smooch+Sans:wght@100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	min-height: 100%;
}

body {
	display: flex;
	padding: 100px;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	background-color: #282a56;
}

.container {
	display: flex;
	justify-content: center;
	gap: 90px;
	flex-wrap: wrap;
}

.word {
	max-width: max-content;
	display: flex;
	gap: 20px;
}

.word > span {
	position: relative;
	padding: 20px 30px;
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 90px;
	max-height: 90px;
	border: 6px solid grey;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter,
.developerPLetter,
.takeALetter,
.gardeningGLetter,
.becauseULetter,
.improveVLetter,
.theirHLetter,
.theirRLetter,
.skillsSLetter {
	font-size: 72px;
	font-weight: bold;
	color: aqua;
	text-decoration: underline;
	text-transform: uppercase;
	font-family: "Piazolla", sans-serif;
}

.whyHLetter,
.frontendELetter,
.takeELetter,
.becauseSLetter,
.becauseETwoLetter,
.theirELetter,
.rootRLetter,
.skillsSTwoLetter {
	font-size: 30px;
	font-weight: bold;
	color: darkgoldenrod;
	text-decoration: overline;
	text-transform: lowercase;
	font-family: "Ceviche One", sans-serif;
}

.whyYLetter,
.developerVLetter,
.takeKLetter,
.gardeningILetter,
.theyELetter,
.wantedELetter,
.rootTLetter {
	font-size: 60px;
	font-weight: normal;
	color: coral;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter,
.upULetter,
.takeTLetter,
.toOLetter,
.improveOLetter,
.rootOLetter,
.skillsLTwoLetter {
	text-decoration: underline;
	color: red;
	font-size: 25px;
}

.didILetter,
.developerETwoLetter,
.developerEThreeLetter,
.theyHLetter,
.theirTLetter,
.rootOTwoLetter {
	color: aquamarine;
	font-size: 40px;
	font-family: lato;
	font-weight: 900;
	text-decoration: line-through;
}

.didDTwoLetter,
.frontendNLetter,
.gardeningALetter,
.theyTLetter,
.becauseALetter,
.wantedTLetter,
.wantedDLetter,
.improvePLetter,
.theirILetter,
.skillsSLetter,
.skillsKLetter,
.exclamation-mark {
	text-decoration: overline;
	color: salmon;
}

/* THE word */

.theTLetter,
.developerDLetter,
.gardeningNLetter,
.gardeningNTwoLetter,
.becauseCLetter,
.toTLetter {
	text-decoration: none;
	font-style: italic;
	color: blueviolet;
	font-size: 25px;
	text-transform: capitalize;
}

.theHLetter,
.developerELetter,
.developerLLetter,
.becauseELetter,
.wantedNLetter,
.skillsLLetter {
	font-family: lato;
	font-weight: 400;
	font-size: 30px;
	color: grey;
}

.theELetter,
.frontendDLetter,
.gardeningRLetter,
.gardeningGTwoLetter,
.wantedALetter,
.improveELetter,
.hyphen {
	font-family: lato;
	color: blue;
	font-weight: 700;
}

/* FRONT-END word */

.frontendFLetter,
.frontendTLetter,
.developerRLetter,
.gardeningDLetter,
.wantedWLetter,
.improveILetter,
.improveRLetter {
	font-style: bold;
	text-transform: capitalize;
	color: hwb(0 0% 100%);
}

.frontendRLetter,
.frontendTLette,
.developerOLetter,
.gardeningELetter,
.improveMLetter,
.question-mark {
	font-style: normal;
	color: #ff0000;
}

.frontendOLetter,
.frontendNTwoLetter,
.upPLetter,
.becauseBLetter,
.theyYLetter,
.skillsILetter {
	color: chocolate;
	font-size: 60px;
}
